.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  height: auto;
  margin-top: 10px;
  background-color: lightgray;
}

#chart {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px; /* Máximo ancho del gráfico */
  height: 450px;

}
#chart svg {
  width: 100%; /* Hace que el SVG ocupe el 100% del contenedor */
  height: auto; /* Ajusta automáticamente la altura según la relación de aspecto */
}

.fecha{
  display: flex;
  align-items: center;
}