.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#chart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1800px; /* Máximo ancho del gráfico */
  height: 1000px;
}

/* Estilos adicionales para el gráfico SVG */
#chart svg {
  width: 100%; /* Hace que el SVG ocupe el 100% del contenedor */
  height: 100%; /* Ajusta automáticamente la altura según la relación de aspecto */
}
